:root{
    --color : #222;
    --background-color: #F5F5EE;
}

a{
    text-decoration: none;
  }
  
li{
    list-style-type: none;
  }

.navbar-container{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
}

.navbar-container ul {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.navlinks{
    color: var(--color);
}


.title-link{
    padding: 5px 15px;
    border-radius: 4px;
    background-color: darkorange;
    color: #fff;  
    font-size: 35px;
}

.button{
    cursor: pointer;
    margin-right: 30px;
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: darkorange;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    color: #fff;
}


/* NavContianer */
.navcontainer-text{
    width: 100%;
    height: 250px;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-between;
}

.navcontainer-text-container{
    /* background: #000; */
    width: 100%;
    padding-left: 30px;
}
.navcontainer-text-container p{
    width: 75%;
}